.Wild_Boar{
  background-color: #e6e6e6;
}
.jumbotron{
  background-image: url("../Irrelephant/Images/europe_background.png");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
